@model FeatureDetailVM

<div class="container">

    <div class="create-category">
        <a asp-action="Create" class="btn btn-success text-white mb-3 mx-3">Create</a>
    </div>

    <div class="table-responsive table--no-card m-b-30">
        <table class="table table-borderless table-striped table-earning">
            <thead>
                <tr>
                    <th>Feature</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.Title</td>
                    <td>@Model.Description</td>
                </tr>
            </tbody>
        </table>
    </div>
    <a asp-action="Index" class="btn btn-danger">Back</a>
</div>



